<div class="chat_header">
  <div left_header>
    <div class="room_name">
      <%= @room.name%>
    </div>
  </div>
  <div right_header>
    <div class="exit_room">
      <%= link_to "チャットを終了する", room_path(@room), method: :delete%>
    </div>
  </div>
</div>

<div class="chat_main">
  <%= render partial:'message',collection: @messages%>
  <%#↓3行と同じ意味%>
  <%# @message.each do|message| %>
    <%#= render partial:'message',locals:{message: message}%>
  <%# end%>
</div>
<%= form_with model:[@room, @message],class:"chat_form",local: true do|f|%>
  <div class="input_form">
    <%= f.text_field :content, class:'message_form', placeholder: "type a message"%>
    <label class="form_image">
      <span class="image_file">画像</span>
      <%= f.file_field :image, class:"hidden"%>
    </label>
  </div>
  <%=f.submit "送信", class:"send"%>
  <%# <input type="submit" value="送信" class="send"> と同じ意味%>
<% end %>